.navbar
  display: flex
  flex-direction: row
  padding: 1.8rem

  .navbar-title
    flex: 1
    font-size: 2rem

  .navbar-links > a
    margin-right: 25px
    font-size: 1rem
    cursor: pointer

  .new-task
    border: 1px solid rgba(0,0,0,0.66)
    border-radius: 50%
    padding: 5px 11px 5px 11px
    text-align: center

    &:hover
        background: #e1e1e1

  .new-3task
    border: 1px solid rgba(0,0,0,0.66)
    border-radius: 50%
    padding: 5px 11px 5px 11px
    text-align: center

    &:hover
        background: #F8F8F8

.main-content
  margin: 50px 0 0 0
  display: flex
  flex-direction: column

  .status-navigation
    margin-bottom: 100px
    display: flex
    flex-direction: row
    justify-content: space-evenly
    height: 100px

    .pending-box
      display: flex
      align-items: center
      justify-content: center
      width: 30%
      border: 1px solid black
      border-radius: 10px
      -webkit-box-shadow: 7px 6px 18px -6px rgba(0,0,0,0.66)
      -moz-box-shadow: 7px 6px 18px -6px rgba(0,0,0,0.66)
      box-shadow: 7px 6px 18px -6px rgba(0,0,0,0.66)
      cursor: pointer

      fa-icon
        color: #3b5998
        font-size: 32px

      &:hover
        background: #F8F8F8

    .done-box
      display: flex
      align-items: center
      justify-content: center
      width: 30%
      border: 1px solid black
      border-radius: 10px
      -webkit-box-shadow: 7px 6px 18px -6px rgba(0,0,0,0.66)
      -moz-box-shadow: 7px 6px 18px -6px rgba(0,0,0,0.66)
      box-shadow: 7px 6px 18px -6px rgba(0,0,0,0.66)
      cursor: pointer

      fa-icon
        color: #4BB543
        font-size: 32px

      &:hover
        background: #F8F8F8


.tasks
  font-size: 0.7rem

  .notasks-text
    color: #c4c4c4
    font-size: 11px
    text-align: center
    width: 100%

  ul
    display: flex
    padding: 0
    flex-direction: column
    align-items: center
    list-style: none

    li:nth-child(odd)
      background: #F8F8F8

  ul > li
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 60px
    border: 1px solid rgba(0,0,0,0.66)
    border-radius: 10px
    padding: 12px
    width: 70%
    height: 55px
    text-align: justify

  ul > li > .circle
    margin-right: 20px
    border: 1px solid rgba(0,0,0,0.66)
    border-radius: 50%
    width: 25px
    height: 30px
    cursor: pointer

  fa-icon
    color: green
    font-size: 20px
    text-align: center
