<!-- Toolbar -->
<nav class="navbar">
  <div class="navbar-title">
    <span>Aqui estão suas tarefas</span>
  </div>
  <div class="navbar-links">
    <a aria-label="Adicionar tarefa" title="Nova Tarefa" class="new-task" (click)="openModal(content_new_task)">
      <fa-icon [icon]="faPlus"></fa-icon>
    </a>
    <a aria-label="Ocioso" title="Estou Ocioso" class="new-3task" (click)="newTasksForIdleUser()">
      <fa-icon [icon]="faHandHolding"></fa-icon>
    </a>
  </div>
</nav>

<ng-template #content_new_task let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nova Tarefa</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="description">Descrição da Tarefa</label>
        <div class="input-group">
          <textarea id="description" class="form-control" type="text"
            (change)="description = $event.target.value"></textarea>
        </div>
        <label for="supervisor_name">Nome do Supervisor</label>
        <div class="input-group">
          <input id="supervisor_name" class="form-control" type="text" (change)="supervisor_name = $event.target.value">
        </div>
        <label for="supervisor_email">Email do Supervisor</label>
        <div class="input-group">
          <input id="supervisor_email" class="form-control" type="email"
            (change)="supervisor_email = $event.target.value">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="newTask()">Concluir</button>
  </div>
</ng-template>

<ng-template #content_update_task let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Atualizar Tarefa como Pendente</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form autocomplete="off">
      <div class="form-group">
        <label for="password">Senha do Supervisor</label>
        <div class="input-group">
          <input id="password" class="form-control" type="password"
            (change)="supervisor_password = $event.target.value">
        </div>
        <div class="input-group" hidden="true">
          <input id="task_id" class="form-control" type="number">
        </div>
        <div class="input-group" hidden="true">
          <input id="task_status" class="form-control" type="text">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateTaskStatus()">Concluir</button>
  </div>
</ng-template>

<main class="main-content">
  <nav class="status-navigation">
    <a class="pending-box" (click)="populateTasksByStatus('pending')" title="Tarefas Pendentes">
      <fa-icon [icon]="faListAlt"></fa-icon>
    </a>
    <a class="done-box" (click)="populateTasksByStatus('done')" title="Tarefas Concluídas">
      <fa-icon [icon]="faCheckSquare"></fa-icon>
    </a>
  </nav>
  <div class="tasks">
    <ul *ngIf="DoneTabSelected">
      <li *ngFor="let task of DoneTasks">
        <a class="circle" (click)="openModalWithTask(content_update_task, task)" title="Tornar Pendente">
          <fa-icon [icon]="faCheck"></fa-icon>
        </a>
        {{task.description}}
      </li>
      <span class="notasks-text" *ngIf="DoneTasks.length === 0">Você ainda concluiu nenhuma Tarefa</span>
    </ul>
    <ul *ngIf="!DoneTabSelected">
      <li *ngFor="let task of PendingTasks">
        <a class="circle" (click)="updateTaskStatus(task)" title="Concluir Tarefa"></a>
        {{task.description}}
      </li>
      <span class="notasks-text" *ngIf="PendingTasks.length === 0">Parabéns! Você não possui Tarefas pendentes</span>
    </ul>
  </div>
</main>

<router-outlet></router-outlet>
