<!-- Toolbar -->
<nav class="navbar">
  <div class="navbar-title">
    <span>Aqui estão suas tarefas</span>
  </div>
  <div class="navbar-links">
    <a aria-label="Adicionar tarefa" title="Nova Tarefa" class="new-task" (click)="NewTaskModalOpen = true">+</a>
    <a aria-label="Ocioso" title="Estou Ocioso" class="new-3task">+ 3</a>
  </div>
</nav>

<main class="main-content">
  <nav class="status-navigation">
    <a class="pending-box" (click)="populateTasksByStatus('pending')">
      <fa-icon [icon]="faListAlt"></fa-icon>
    </a>
    <a class="done-box" (click)="populateTasksByStatus('done')">
      <fa-icon [icon]="faCheckSquare"></fa-icon>
    </a>
  </nav>
  <div class="tasks">
    <ul>
      <li>
        <div class="circle"></div>
        Nostrud sint et labore cupidatat culpa non irure et laboris ullamco commodo minim.
      </li>
      <li>
        <div class="circle"></div>
        Nostrud sint et labore cupidatat culpa non irure et laboris ullamco commodo minim.
      </li>
      <li>
        <div class="circle"></div>
        Nostrud sint et labore cupidatat culpa non irure et laboris ullamco commodo minim.
      </li>
      <li>
        <div class="circle"></div>
        Nostrud sint et labore cupidatat culpa non irure et laboris ullamco commodo minim.
      </li>
    </ul>
  </div>
</main>
<footer class="pagination">
  <a aria-label="Página Anterior" title="Página Anterior" class="last-page">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </a>
  <a aria-label="Próxima Página" title="Próxima Página" class="next-page">
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </a>
</footer>

<router-outlet></router-outlet>
